@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/resource/fonts/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

h1 {
    color: #E8BBA8;
    text-align: center;
    font-size: 80px;
    font-family: 'Montserrat-Regular', sans-serif;
}

p {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

p b {
    color: #DEB8EF;
}

.btn-container {
    padding-top: 80px;
    width: 250px;
}

.row {
    padding: 10px;
}

.btn {
    background-color: #fff;
    font-size: 30px;
    font-weight: bold;
}