html, body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

h2 {
    color: #333;
}

.wrapper {
    width: 300px;
    height: 100%;
    max-width: 300px;
    padding: 10px;
    background: radial-gradient(circle, rgba(232,187,160,1) 0%, rgba(148,187,233,1) 100%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.line {
    border: 2px solid rgb(62, 123, 163);
    border-radius: 2px;
    width: 100px;
    margin-top: 1rem;
}

.seperation {
    margin-top: 1rem;
    text-align: center; /* Optional: Center the content horizontally */
}

.line, p {
    display: inline-block;
    margin: 3px 4px; /* Optional: Add some space between the elements */
    color: black;
    font-size: 12px;
}
.btn {
    background-color: #E8BBA8;
    margin-top: 1rem;
}

.btn a {
    text-decoration: none;
}