* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333;
}

h2 {
    color: white;
}

.wrapper {
    width: 50%; /* Set your desired width */
    max-width: 300px; /* Optional: Set a maximum width to prevent it from becoming too wide */
    margin: 0 auto; /* Center the .wrapper horizontally */
    display: flex;
    flex-direction: column; /* Optional: Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.line {
    border: 2px solid gold;
    width: 100px;
    margin-top: 1rem;
}

.seperation {
    margin-top: 1rem;
    text-align: center; /* Optional: Center the content horizontally */
}

.line, p {
    display: inline-block;
    margin: 3px 4px; /* Optional: Add some space between the elements */
    color: white;
    font-size: 12px;
}