@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(51, 51, 51, 0.90);
    font-family: 'Montserrat', sans-serif;
}

.user-actions {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the buttons to the right */
    padding-right: 1rem; /* Add some padding for better spacing */
}

.btn {
    margin: 0 0.5rem; /* Adjust button margin */
    color: #E8BBA8;
}

.btn:hover {
    color: white;
}

.sign-up-btn:hover {
    color: #E8BBA8;
}

.vertical-line {
    width: 1px;
    height: 40px;
    background-color: white;
    margin: 0 0.5rem; /* Adjust margin for spacing */
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.title {
    width: 791px;
    height: 161px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mainText p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

.page-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

#page-signUp{
    width: 124px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 10px;
    border-color: #E8BBA8;
    background: #E8BBA8;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}