@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes lights {
    0% {
      color: #E8BBA8;
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: white;
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: #E8BBA8;
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: white;
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: #E8BBA8;
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
}


* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(51, 51, 51, 0.90);
    font-family: 'Montserrat', sans-serif;
}

.user-actions {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the buttons to the right */
    padding-right: 1rem; /* Add some padding for better spacing */
}

.btn {
    margin: 0 0.5rem; /* Adjust button margin */
    color: #E8BBA8;
}

.btn:hover {
    color: white;
}

.sign-up-btn:hover {
    color: #E8BBA8;
}

.vertical-line {
    width: 1px;
    height: 40px;
    background-color: white;
    margin: 0 0.5rem; /* Adjust margin for spacing */
}

.mainText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
}

.title {
    width: 791px;
    height: 161px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    animation: lights 5s 750ms linear infinite;
    line-height: normal;
}

.mainText p {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
}

.page-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

#page-signUp{
    width: 124px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 10px;
    border-color: #E8BBA8;
    background: #E8BBA8;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}